<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="/style1.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Login and Register Page</title>
</head>
<body>
    <header >
        <nav>
            <div class="brand text-white">
                <div class="brand-name">
                    <h4>Shoppin</h4>
                    <!-- <i cla></i> -->
                </div>
                <div class="toggle_btn">

                </div>
            </div>
            
            <div class="links text-white">
                
                <a href="/"><i class="bi bi-house-fill"></i> Home</a><br>
            </div>
        </nav>
    </header>
    <%- include('./snackbar.ejs')%>

<div class="main-login-container">
    <div class="inner-container left-container">
       
        <button id="showSignInBtn" onclick="showSignInForm()">Sign In</button>

        <!-- Sign-in form -->
        <form action="/signin" class="sign-in-form" method="post">
            <h1>Welcome!</h1>
            <p>This is a welcome message.</p>
            <label for="username">Username</label>
            <i class="icon fas fa-user"></i>
            <input type="text" id="username" name="username" placeholder=""  required>
            <label for="password">Password</label>
            <i class="icon fas fa-key"></i>
            <input type="password" id="password" name="password" placeholder="" required><br>
            <button type="submit" id="signInBtn">Sign in</button>
        </form>
    </div>

    <div class="inner-container right-container">
        <h1>Create Account</h1>
        <div class="form-container">
            <label for="newUsername">Username</label>
            <i class="icon fas fa-user"></i>
            <input type="text" id="newUsername" name="newUsername" placeholder="" required>
            <label for="newEmail">Email</label>
            <i class="icon fas fa-envelope"></i>
            <input type="email" id="newEmail" name="newEmail" placeholder="" required>
            <label for="newPassword">Password</label>
            <i class="icon fas fa-key"></i>
            <input type="password" id="newPassword" name="newPassword" placeholder="" required><br>
            <button type="button"  id="registerBtn">Create Account</button>
        </div>  
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/script.js"></script>

</body>
</html>
