<aside class="mdc-snackbar">
    <div class="mdc-snackbar__bg" role="status" aria-relevant="additions">
        <div class="mdc-snackbar__label" aria-atomic="false">
            Retry in 5 seconds.
        </div>
      
    </div>
</aside>