
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height:100vh;
  font-family: 'Montserrat', sans-serif;
position: relative;
overflow-x: hidden;
}
h1, h2,h3,h4,h5,h6,p{
  margin: 0 !important;
  padding: 0 !important;
}
a{
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;

}
a:hover{
color: white;
}
:root{
  --grey:#E0E0E0;
  --dark-grey:#616161;
  --blue:#175F8A;


}
header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  /* position: fixed;
  top: 0; */
  z-index: 99;
  background-color: var(--blue);
}
nav{
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
input:focus{
  border: none !important;
  outline: none;
  /* background-color: none; */
}
.fixed-header{
position: fixed;
top: 0;
}
.text-white{
  color: white;
}
.mdc-snackbar {
  width: 100%;
  position: fixed;
  z-index: 10011;
  top: 4em;
  visibility: hidden;
}

.mdc-snackbar__bg {
  display: flex;
  justify-content: center;
  text-align: center;
  place-items: center;
  background-color: rgba(158, 255, 218, 0.793);
  width: 70%;
  color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 0.75em 1.25em;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2) !important;
}

.mdc-button__label {
  color: var(--mdc-theme-primary);
  font-weight: bold;
  letter-spacing: 0.05em;
}

.mdc-snackbar__actions {
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  margin-left: 1em;
  width: 20%;
  height: 80%;
}

.mdc-snackbar__actions:hover {
  background-color: var(--mdc-theme-secondary);
}

.mdc-snackbar__actions:hover .mdc-button__label {
  color: #000000;
}

.mdc-snackbar.show {
  visibility: visible;
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
            However, delay the fade out process for 4 seconds */
  -webkit-animation: fadeinSnack 0.5s, fadeoutSnack 0.5s 6s;
  animation: fadeinSnack 0.5s, fadeoutSnack 0.5s 6s;
}
.text-black{
  color: var(--dark-grey);
}
.brand{
  width: 20%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  /* border: 1px solid; */
  font-size: 1rem;

}

.search_bar{
  width:70%;
  /* border: 1px solid; */
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 8px;
  background-color: white;
  color: var(--dark-grey);

}
.search_bar input{
  border: none !important;
  width: 80%;
  height: 100%;
  padding: 10px;
  border-radius: 8px !important;
  outline: none;
}
.search_bar .btn{
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  background-color: white;
  font-size: .8em;
  border-radius: 8px;
}
.links{
  width: 20%;
  /* border: 1px solid; */
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  font-size: .8em;
  
}
/*login*/
 .main-login-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  /* margin-top: 50px; */
  /* padding: 10px; */
  height:100%;

 
}

.inner-container {
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgb(255, 255, 255); */
  justify-content: center; /* Center text content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
 
}
.form-container{
  width: 30%;
}




.left-container {
width: 40%;
/* min-height: 150px !important; */
/* margin-right: 10px; */
background-color: #ffffff; 
/* padding-top:20%; */
text-align: center;
}


.right-container {
  width: 60%;
 background-color: #eef3f4;
 /* padding-top: 20%; */
 text-align: center;
}

.inner-container h1 {
  text-align: center;
  color: #333;
  font-size: 1.5em;
}

.left-container label {
display: block;
margin-bottom: 8px;
color: #555;
font-weight: bold; 
margin-right: 27%;
text-align: left;
}

.right-container label {
display: block;
margin-bottom: 8px;
color: #888;
font-style: italic;
 margin-right: 24%;
 text-align: left;
}



.left-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding-left: 30px; /* Added padding for icon */
  box-sizing: border-box; /* Include padding in the total width */
}

.right-container input {
width: 100%;
padding: 10px;
margin-bottom: 16px;
border: 1px solid #ccc;
border-radius: 4px;
padding-left: 30px; /* Added padding for icon */
box-sizing: border-box; /* Include padding in the total width */
}


.icon {
  position: absolute;
  margin-top: 13px;
  margin-left: 10px;
  color: #888;
}

.right-container button {
  width: 70%;
  height: 40px;
  /* padding: 10px;
  margin-top: 10px; */
  background-color: #354e57;
  border-radius: 8px;
  /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  /* font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif; */
  /* padding: 7px 20px; */
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  font-weight: 700;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}

.left-container button {
width: 40%;
height: 40px;
/* padding: 10px; */
background-color: #354e57;
  border-radius: 8px;
  /* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  /* padding: 7px 20px; */
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 1em;
  font-weight: 700;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
margin-top: 10px;

}
button:hover {
  background-color: #459ba0;
}

.sign-in-form {
  display: none;
  gap: 10px;
  flex-direction: column; /* Initially hide the sign-in form */
}



/* Main Checkout Container */
.main-checkout-container {
  width: 100%;
  height:100%;
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  /* padding: 20px; */
  box-sizing: border-box;
  /* overflow: auto; */
  color: #354e57;
  font-size: .7em !important;
}


/* Sub-Containers Inside Main Checkout */
.sub-container {
width: 50%; 
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-right: 0%;
margin-top: 0%;
vertical-align: top; 
gap: 10px;
}

.sub-container:nth-child(1) {
background-color: #ffffff; 
}


.sub-container:nth-child(2) {
background-color: #eef3f4;  
}

 
.sub-container:nth-child(2) {
  margin-right: 0;  
}
.checkout-info{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.checkout-header{
  background-color: white;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;

}

.checkout-header img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.checkout-body{
  /* background-color: white; */
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:10px 0;
}
 
.long-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

.sub-container {
  border: 1px solid #ffffff;
  padding: 10px;
  /* margin-bottom: 15px; */
  
}


.long-box {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  overflow: hidden;
}

.image-container,
.image-name-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  height: 100px;
  width: auto; 
  
}

.line-vertical {
  width: 2px;
  height: 80%; 
  background-color: #ddd;
  margin: 0 10px;
}

.image-name {
  padding-left: 10px;
  font-size: 14px;
}


.subtotal, .tax, .shipping, .line, .estimated-total {
  width: 80%;
  /* padding-left: 20px; */
  font-weight: 600;
  font-size: 18px;
  
  
}


.estimated-total {
  font-weight: bold;
  font-size: 18px;
}



.shipping-details, .delivery-details, .payment-details {
  margin-top: 15px;
  
}

.amount-details {
color: #2b3242; 
font-size: 16px;
font-weight: 400;
display: flex;
width: 100%;

}




 
.product-list, .shipping-details, .delivery-details, .payment-details {
  border: 1px solid #ffffff;
  padding: 10px;
  margin-bottom: 15px;
 
}


.button-33 {
background-color: #354e57;
border-radius: 8px;
/* box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px; */
color: rgb(255, 255, 255);
cursor: pointer;
display: inline-block;
font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
padding: 7px 20px;
text-align: center;
text-decoration: none;
transition: all 250ms;
border: 0;
font-size: 16px;
font-weight: 700;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
/* margin-left: 455px;  */
margin-right: 0;
}



.button-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
}
.control-btns{
  width: 60%;
  /* border: yellow solid; */
  display: flex;
 

}
.add-to-cart{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background-color: transparent !important;
  border: .8px solid #354e57 !important;
  color: #354e57 !important;
}
.add-to-cart:hover{
  background-color: #354e57 !important;
  color: white !important;
}
.button-33{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.Description{
  display: flex;
  flex-direction: column;
}
.button-33:hover{
  background-color: transparent !important;
  border: .8px solid #354e57 !important;
  color: #354e57 !important;
}
.control-btns button{
  width: 50%;
  font-size: 1.1em;
  background-color: #354e57;
  border-radius: 8px;
  color: white;
  outline: none;
  border: none;
}
.back-to-shopping-link {
display: block;
margin-bottom: 10px;
text-decoration: none;
color:  #3e6985;  
margin-left: 450px;
}

.back-to-shopping-link:hover {
text-decoration: underline;
}


.edit-link {
display: inline-block;
margin-left: 10px;
text-decoration: none;
color: #3e6985;  
margin-left: 495px;
}

.edit-link:hover {
text-decoration: underline;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(6, 3, 3, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #e90000;
  text-decoration: none;
  cursor: pointer;
}

/* Style the button */
#saveChangesBtn {
  background-color:#354e57;
  border-radius: 8px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
color: rgb(255, 255, 255);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px

}

/* Change color on hover */
#saveChangesBtn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
transform: scale(1.05) rotate(-1deg);
}



.shipping-info{
  width: 90%;
  margin: 0;
}


/*responsive*/
@media screen and (max-width: 678px) {

.main-checkout-container{
  height: auto;
}

.sub-container {
  width: 100%;
  margin-right: 0;
}
#checkoutForm{
  width: 100%;
  /* border: red solid; */
  display:flex;
  justify-content: center;
  align-items: center;

}

.long-box {
  width: 90%;
  margin-left: 0;
}

.back-to-shopping-link,
.edit-link {
  margin-left: 0; 
}

.button-33 {
margin-left: 0; 
margin-right: 0; 
}

/*login*/
.main-login-container {
flex-direction: column-reverse;

}

.inner-container {
height: auto;


}

.left-container, .right-container {

width: 100%;
height: 50%;
margin-right: 0;
padding: 10px;
/* padding-top: 20%;  */

}

.left-container button, .right-container button {
width: 50%;
margin-top: 10px;
}

.left-container label {
margin-right: 0;
}

.right-container label {
margin-right: 0;
}
.left-container input {
width: 100%;
}
.right-container input {
width: 100%;
}

.sign-in-form {
padding-top: 10px;
overflow: auto; 
width: 90%;
}
.form-container{
  width: 90%;
}
}



@media screen and (max-width: 768px) {
.main-checkout-container {
  flex-direction: column-reverse;
}

.main-checkout-container{
  height: auto;
}
/*login*/
.main-login-container{
  flex-direction: column-reverse;
}

}

@media screen and (min-width: 679px) and (max-width: 768px) {
.sub-container {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

.long-box {
  width: 80%;
  margin-left: 20px;
}

.back-to-shopping-link,
.edit-link {
  margin-left: 10px; 
}
.form-container{
  width: 50%;
 
}
/*login*/
.left-container, .right-container {
  /* flex: 1; */
  width: 100%;
  /* margin-right: 2%; */
  /* padding-top: 20%;  */
  overflow: auto; 
}
.main-login-container input{
  width: 100%;
}
.right-container button {
  width: 50%;
}

.left-container label, .right-container label {
width: 50%;
  margin-right: 0;
}
/* .left-container input {
width: 50%;
}
.right-container input {
width: 50%;
} */
.sign-in-form {
  /* padding-top: 10px; */
  width: 50%;
  overflow: auto; 
}
}


@media screen and (min-width: 769px) and (max-width: 1130px) {
.sub-container {
  width: 48%;
  margin-right: 2%;
}
.mdc-snackbar{
  width: 30%;
}
.long-box {
  width: 80%;
  margin-left: 20px;
}

.back-to-shopping-link,
.edit-link {
  margin-left: 20px; 
}






/*log in*/
.left-container, .right-container {
/* flex: 1; */
width: 50%;

overflow: auto; 
}

.right-container button {
width: 50%;
}
.form-container{
  width: 90%;
}
.left-container label, .right-container label {
margin-right: 0;
}
.left-container input {
width: 100%;
}
.right-container input {
width: 100%;
}
.sign-in-form {
padding-top: 10px;
overflow: auto; 
}
}
